.pm {
	display : flex;
	border-radius : 10px;
	background : rgba(225,225,225,0.5);
}

.pm img {
	height : 100px; width : 100px;
	border-radius: 50%; transition: 0.3s;
	box-shadow: 0px 1px 3px #000 ;
}

.pm img:hover {
	box-sizing : border-box;
	box-shadow: 0px 6px 8px #333 ;
	transform: translateY(-6px) scale(1.05);
}

.pp {
	text-align : center;
	margin : 10px;
	font-size: 13px;
}
	
.pm > span {
	display : block;
	text-align : justify;
	box-sizing : border-box;
	padding : 10px;
	margin: 10px;
	line-height: 1.5;
	font-weight: 300;
}


@media only screen and (max-width : 768px) {
	
	.pm {
		flex-direction : column;
		margin : 10px;
	}
}

@media only screen and (min-width : 768px) {
	
	.pp {
		font-size: 10px;
	}
	
	.pm {
		justify-content : center;
		margin: 10px 10px;
	}
	
	.pm > span {
		max-width : 80ch;
		font-size: 13px;
		padding: 20px;
		
	}
	
}

