<div class="m p-l rc-s bg-afe t-c">
	<div class="t-c m p bb rc-s bg-fff">{{filename}}
		{{#unless filename}} File Downloader {{/unless}}
	</div>
	<a class="button dnw m" onclick="dwnld('/download?file={{filename}}', '{{filename}}')"> Download Now ! </a>
</div>