<form class="m p-l rc-s bg-afe t-c" onsubmit="dwnld(); return false;">
	<input
		id="filename"
		class="t-c d-ib out-no bdr m p bb rc-s bg-fff"
		contenteditable
		value="{{filename}}"
		placeholder="File Name"
		required
	/>
	<button class="button dnw m" onclick="pressed(this, true);">
		Download Now !
	</button>
</form>