<div class="m p-l rc-s bg-afe t-c">
	<input
		id="filename"
		class="t-c d-ib out-no bdr m p bb rc-s bg-fff"
		contenteditable
		value="{{filename}}"
		placeholder="File Name"
	/>
	<a class="button dnw m" onclick="dwnld('/download?file={{url}}')">
		Download Now !
	</a>
</div>