<nav id="pwd" class="chd(d-ib) ws-nw chd-span(p-1px_5px) p-xs bg-ddd ovrflw-scrl">
	<span> root </span>
	<div class="rightArrow"></div>
	<span> app </span>
</nav>
<div
	class="fad chd-section(bg-eee) chd(bg-ECD840,bdr,m-s,rc-s,p-s,chd-span(bdr-L,d-ib,pos-rel,top-_3p,p-L,m-L-s),chd-img(h-20p,w-20p),chd-div(pos-abs,d-ib,st,right-_80p,top-_1p,dnw,p-8px_20px,hbr(bnw)))"
>
	<div class="gb ovrflw-hdn pos-rel hbr(chd-div(right-0p)) "> <img src="/icons/back.png" /> <span class="upDir"> root </span> <div class="bb"> Back </div> </div>
	{{#each ls.dirs}}
		<div class="dir ovrflw-hdn pos-rel hbr(chd-div(right-0p))  "> <img src="/icons/folder.png" /> <span> {{this}} </span> <div> Open </div> </div>
	{{/each}}
	{{#each ls.files}}
		<section> <img src="/icons/file.png" /> <span> {{this}} </span></section>
	{{/each}}
</div>
<style>
	.rightArrow { display : inline-block; height : 7px ; width : 7px; border-top:
	1px solid; border-right : 1px solid; transform : rotate(45deg); 
	position: relative; top: -2px;}
</style>

<script>

async function _fmConfig () {
let lj = new _loadFiles()
lj.files = ["/js/fm.js"]
await lj.init();
var _fm = new _fileManager("{{ls.pwd}}");
_fm.configLinks("{{ls.pwd}}")

window.onpopstate = function ( state ) {
	_fm.history.pop()
	let upDir = _fm.history.pop()
	_fm.open(upDir ? upDir : "/", log(upDir))
}
}

_fmConfig ()
</script>