
<nav id="pwd" class="chd-span(p-1px_5px) p-xs bg-ddd" >
	<span> root </span>
	<div class="rightArrow"></div>
	<span> app </span>
</nav>
<div class="fad chd-section(bg-eee) chd(bg-ECD840,bdr,m-s,rc-s,p-s,chd-span(bdr-L,d-ib,pos-rel,top-_3p,p-L,m-L-s),chd-img(h-20p,w-20p))">
	<div> <img src="/icons/back.png" > <span>root </span> </div>
	{{#each ls.dirs}}
	<div> <img src="/icons/folder.png" > <span> {{this}} </span> </div>
	{{/each}}
	{{#each ls.files}}
	<section> <img src="/icons/file.png" > <span> {{this}} </span> </section>
	{{/each}}
</div>
<style>
	.rightArrow {
		display : inline-block;
		height : 7px ; width : 7px;
		border-top: 1px solid;
		border-right : 1px solid;
		transform : rotate(45deg);
	}
</style>

<script>
	const ls = {{ls.files}}
	console.log(ls)
</script>

