
<form class="m p t-c bg-afe rc" onsubmit = "getImgs(); return false;">
    <h2 class="m-10px_20px rc p bnw"> Image Downloader</h2>
    <input type="url" id="website_url" class="p-s m bdr rc-s d-ib w-60pg t-c bb" placeholder="Website URL" required>
    <button onclick="pressed(this, true)" class="p-5px_20px dnw rc-s" onclick="pressed(this, true)"> Submit </button>
</form>
<div id="console" class="m p dnw rc-s f d-no chd-div(m)">
	<div>Searching for img tags ...</div>
</div>

<div class="m p t-c">
	<a id="dN" class="button bnw d-no"> Download Now ! </a>
</div>
<script>document.querySelector("title").textContent = "Image Downloader"; </script>