
<div href="fs" class="crsr-pntr button m p-10px_20px bnw rc-s d-ib" onclick = "pressed(this, true); setTimeout( () => window.location.href = '/fs', 400);">
	FS Module
</div>

<div href="fs" class="crsr-pntr button m p-10px_20px bnw rc-s d-ib" onclick = "pressed(this, true); setTimeout( () => window.location.href = '/imgD', 400);">
	Image Downloader
</div>

<!--
<div href="fs" class="crsr-pntr button m p-10px_20px bnw rc-s d-ib" onclick = "pressed(this, true); setTimeout( () => window.location.href = '/fm', 400);">
	File Manager
</div>
-->
<div href="fs" class="crsr-pntr button m p-10px_20px bnw rc-s d-ib" onclick = "pressed(this, true); setTimeout( () => window.location.href = '/gallery', 400);">
	Photo Gallery
</div>
