<div
	class="t-c projects chd-a(crsr-pntr,button,m,p-10px_20px,bnw,rc-s,d-ib,bs-0px_4px_1px_hex555)"
>
	<div class="d-grd gtc-auto_80px" >
		<div>FS Module</div>
		<a href="/fs" onclick="return false;">Open</a>
	</div>
	<a href="/imgD" onclick="return false;" >Image Downloader</a>
	<a href="/fm" onclick=" return false;"> File Manager</a>
	<a href="/uploads" onclick="return false;">Uploads</a>
</div>
