<form class="m-s p rc-s t-c bg-3c9" onsubmit="_upload(this); return false;" >

<input id="file" name="file" type="file"  class="m-s p-s bdr rc-s t-c" />
<button onclick="pressed(this, true)" class="m" > Submit </button>

</form>
{{#if (isDev)}}<script src="js/upload.js"></script> {{/if}}