<div class="">
<form class="m p p-T-xl rc-s bg-ddd t-c " onsubmit = "getVQ(); return false;">
	<label for="url" class="f-13p usr-no" > Video URL : </label>
	<input value="" id="url" class="p-s bdr out-no rc-s" placeholder="paste ur link here ..." type="url" required>
	<button class="m bg-FE0000 clr-fff" onclick="pressed(this, true)"> Submit </button>
</form>

<div id="error" class="d-no p m rc-s t-c fw-300 clr-fff bg-930007">
	Error : None
</div>

<div id="panel" class="t-c d-no st rc-s bg-eee p m-s" >
	<img id="vt" class="rc-s mw-80pg" src="">
	<div class="fw-350 p" id="vn"> Video Name </div>
	<div class="rc-s" id="qPanel">
		<div class="quality fsb rc-s bg-ddd m-T chd-div(m-s,p-s,fw-300)">
			<div > 720p </div>
			<div class="w-30pg db hbr(bnw) bdr-L rc-0px_5px_5px_0px" onclick="pressed(this)" > Download </div>
		</div>
	</div>
</div>
</div>