<html>
<meta name="viewport" content="width=device-width, scale=1">

<head>
    <title> Node Express Practice </title>
    <link rel="stylesheet" href="styles.css" />
    <script src="./{{eruda}}.js" onload="eruda.init();"></script>
    <script src="loadjs.js"></script>
    <script>
 		loadjs.addFile("main.js", "main.js");
 		loadjs.addFile("hlpr.js", "hlpr.js");
 		loadjs.addFile("acss.js", "{{acss}}")
 		loadjs.init();
  </script>
</head>
<style>
	body { display : none; font-family : calibri }
</style>
<body class="d-b m-n pc(pos-rel,w-500p,left-50pg,m-L-_250p) " id="body">

<h1 class="m-n p-l t-c bg-eee fw-300 f-xxl m-B txtdc-no" >
	<a href="{{hn}}"> Node Express Practice </a> 
</h1>

{{{body}}}

</body>

	
<style>
	button, .button {
		box-shadow : 0px 4px 1px #666;
		cursor: pointer;
		padding : 5px 20px;
		border : 1px solid transparent;
		border-radius : 5px;
		transition : 0.2s;
		display : inline-block;
		transform : translateY(0px);
		user-select: none;
	}
	
	.button:active {
		box-shadow : 0px 1px 1px #666;
		transform : translateY(3px);
	}

	a {
		text-decoration: none;
		color: black;
	}
</style>
</html>