<!DOCTYPE HTML>
<HTML>
<META name="viewport" content="width=device-width, scale=1" />
<HEAD>
	<SCRIPT src="http://localhost:9000/eruda.min.js" onload="eruda.init()"></SCRIPT>
	<TITLE>Dr. Pitambar Dutt Barthwal PG College </TITLE>
	<link rel="stylesheet" href="src/css/ui.css" />
	<link rel="stylesheet" href="src/css/viewport.css" />
	<link rel="stylesheet" href="src/css/carousel.css" />
	<link rel="stylesheet" href="src/css/mq.css" />
	<link rel="stylesheet" href="src/css/pm.css" />
	<link rel="stylesheet" href="src/css/news.css" />
	<link rel="icon" href="imgs/kotpri.jpg" >
	<link rel="apple-touch-icon" href="/imgs/kotpri.jpg">
</HEAD>
<BODY>
	<h1 id="mH">
		<div class="hmbgr" onclick='_tmenu.t()'></div>
		<span> Dr. Pitambar Dutt Barthwal PG College , Kotdwar</span>
	</h1>

<nav>
	<div id="links" ><hr>
		<div> Home </div><hr>
		<div> Courses </div><hr>
		<div> Students Corner </div><hr>
		<div> Conference </div><hr>
		<div> About us </div><hr>
		<div> Contact us </div><hr>
		<div> Photo Gallery </div><hr>
	</div>
	<div> <button onclick="pressed(this, true)">Online Admission </button> </div>
</nav>

<div id="carousel">
<div class="slides">
	<div id="slide1"></div>
	<div id="slide2"></div>
	<div id="slide3"></div>
	<div id="slide4"></div>
	<div id="slide5"></div>
</div>
<div class="slides_nav">
	<a href="#slide1"> <div> </div> </a>
	<a href="#slide5"> <div></div> </a>
</div>
</div>
	
<div id="viewport" >
	
<div class="info">
The Govt. of Uttar Pradesh founded Dr. Pitambar Dutt Badthawal Himalayan Govt. P.G.College, Kotdwar in July 1971. With just Bachelor of Arts and science Course. With 12 subjects (Hindi, English, Sanskrit, History, Geography, Poltical Science, Economics, chemistry, Physics, Biology, Maths, Botany, Zoology). Since then the college has gone through many changes and developments to meet the requirements of the youth of this region. College get the status of PG in 1974-1975. B.Ed course was started in 1979-80. The expansion and developments of the college has taken place within the broader guidelines of the National Education Policy and the plans of the Educational developments of the state. 
</div>

<img class="vpi" src="imgs/Sri-Dev-Suman-University.png">
<img class="vpi" src="imgs/ncte.png">

<ul class="vpl" >
	<li> <img src="imgs/facfeed.png"><span> College Alumni <br>Registration <span></li>
	<li> <img src="imgs/alumni.png"><span> View College <br> Alumni <span></li>
	<li> <img src="imgs/feedback.png"><span> College Infrastructure <br>Feedback <span></li>
	<li> <img src="imgs/viewalu.png"><span> College Faculty<br> Feedback <span></li>
</ul>

<div class="pm">
	<div class="pp"><img src="imgs/kotpri.jpg" > <br> Prof. Janki Panwar (Principal) </div>
	<span>It brings me Immense pleasure to bring to you the new website of P.G.college Kotdwar. It is a platform where the student gets the opportunity to be up to date with all the nuances happening in the college.</span>
</div>
	
	
<div id="news">
	<h3> News and Updates </h3>
	<div class="news">
		<div class="img"> <img src="imgs/news.jpg" > </div>
		<div class="news-body">
			<span class="text"> रोवर्स रेंजर्स में प्रतिभाग करने हेतु डॉ अजित सिंह (80775 28513) राजनीतिक विज्ञान विभाग एवं डा संगीता रावत (9897274429) जंतु विज्ञान विभाग से संपर्क करें।</span>
			<span class="date"> <b>NEWS (Published on) :</b> <br> 27 / 2 / 20</span>
		</div>
	</div>
</div>



</div>
</BODY>
<script src="main.js"></script>
</HTML>